<div class="container">
    <div class="wrapper">
    <div class="about-title">About</div>
    <div class="sub-text">Who we are and why we do what we do!</div>
    <br><br>
    <div class="about-text">
        <p>Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a, gravida arcu. Nam fringilla molestie velit, eget pellentesque risus scelerisque a. Nam ac urna maximus, tempor magna et, placerat urna. Curabitur eu magna enim. Proin placerat tortor lacus, ac sodales lectus placerat quis. </p>
    </div>
    <br><br>
    <div class="sub-title">Top trends</div>
    <br>
    <img src="../../assets/photos/Img3.png" alt="ring">
    <br>
    <div class="about-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. </p>
    </div>
    <div class="list">
    <ul>
      <li>consectetur adipiscing elit. Aliquam placerat</li>
      <li>Lorem ipsum dolor sit amet consectetur </li>
    </ul>
    </div>
    <br><br>
    <div class="sub-title">Produced with care</div>
    <br>
    <img src="../../assets/photos/Img2.png" alt="watch">
    <br><br>
    <div class="about-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. Nunc sed porta augue. Morbi porta tempor odio, in molestie diam bibendu.
        </p>
    </div>
  </div>
</div>
    
