<div class="container">
    <div class=" footer-direction">
        <div class="footer-nav">
            <div class="footer-title" routerLink="/contact_us">CONTACT</div>
            <div class="footer-title" routerLink="/terms">TERMS OF SERVIC</div>
            <div class="footer-title" routerLink="/shipping">SHIPPING AND RETURN</div>
        </div>
        <div class=" hid">
            <div class="mail">Give an email, get the newsletter. <i class="pi pi-arrow-right"></i></div>
            
                <div class="hidden-part">
                    <input type="checkbox">
                    <span> i agree to the website’s terms and conditions</span>
                </div>
        </div>
    </div>
    <div class="footer-direction">
        <div class=" footer-terms">
            <div>© 2021 Shelly.<span class="footer-title" routerLink="/termsOfUse">Terms of use</span>and
            <span class="footer-title" routerLink="/policy">privacy policy</span>
            </div>
        </div>
        <div class="hidden-part">
            
        </div>
        <div class=" footer-terms">
            <span class="hidden-part"> Folow us __________</span>
            <div class="footer-title" routerLink="/in"><i class="pi pi-linkedin"></i></div>
            <div class="footer-title" routerLink="/fb"><i class="pi pi-instagram"></i></div>
            <div class="footer-title" routerLink="/ins"><i class="pi pi-facebook"></i></div>
            <div class="footer-title" routerLink="/twit"><i class="pi pi-twitter"></i></div>
        </div>
    </div>
</div>