@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";

@font-face {
    font-family: myFont;
    src: url(../../../assets/font-family/DMSans-Medium.ttf);
}


.container{
    justify-content: center;
   align-items: center;
}
.checkoutCont {
    margin-bottom: 30px;
    width: 100%;
    .head {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            @include heading1;
            font-family: myFont;
            padding: 80px;
        }
    }

    .someInfo {
        padding: 20px;
        color: $darkGray;
        line-height: 30px;

        .button {
            color: $black;
            cursor: pointer;
        }
    }
    .row{
        h1{
            @include heading2;
            font-family: myFont;
        }
    }
    .addAddressForm {

        input,
        .form-control {
            width: 100%;
            border: none;
            border-bottom: 1px solid $darkGray;
            outline: none;
            padding: 10px;
            margin-top: 15px;
            accent-color: $white;
        }

        .form-control {
            color: $darkGray;
            outline: none;
        }

        .country {
            position: relative;
        }

        .selectControl {
            border: none;
            border-bottom: 1px solid $darkGray;
            padding: 10px;
            margin-top: 15px;
            width: 100%;
            outline: none;

        }

        .labelForCountry {
            padding-top: 10px;
            left: 10px;
            color: $darkGray;
            position: absolute;
        }

        .oneline {
            width: 40%;
            margin-right: 25px;
        }
        .check1{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .check2{
            width: 100%;
            display:flex;
            justify-content: flex-start;
            align-items: center;
        }
        // .label{
        //     width: 200px;
        // }
    }
    .rightPart{
        line-height: 20px;
        width: 100%;
        font-family: myFont;
        @include heading5;
        .contain{
            padding: 30px;
            background-color: $lightGray;
        }
        .prod{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $darkGray ;
        }
        .prodItem{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom:1px solid $darkGray ;
            div{
                padding: 10px 0;
                color: $darkGray;
            display: flex;
            justify-content: space-between;
            }
        }
        .sub,.ship{
            display: flex;
            justify-content: space-between;
            border-bottom:1px solid $darkGray ;
            padding: 10px 0;

        }
        .total{
            @include body-large;
            display: flex;
            justify-content: space-between;
            font-weight: 700px;
            padding: 10px 0;

        }
        .button1{

            align-items: center;
            padding-top: 50px;
            padding-left: 60px;
        }
        button{
            height: 50px;
            width: 100%;
            background-color: $black;
            color: $white;
            border-radius: 10px;
        }

    }

}
.orderDetails{
    width: 100%;
}

@media screen and (max-width: 768px)and (min-width: 310px){
    .checkoutCont{
        padding: 0;
        .someInfo{
            padding:0;
        }
        .head{
            h1{
            padding:40px
            }
        }
    }
    .check1{
        align-items: flex-start;
    }
    .check2{
        flex-direction: column;
        align-items: flex-start;
    }
    .label{
        width: 250px;
    }
}