<div class="container">
    <div class="wrapper">
    <div class="privacy-title">
        <h1>Privacy Policy</h1>
    </div>
    <br>
    <br>
    <div>
        <p class="text">Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a, gravida arcu. Nam
            fringilla molestie velit, eget pellentesque risus scelerisque a. Nam ac urna maximus, tempor magna et,
            placerat urna. Curabitur eu magna enim. Proin placerat tortor lacus, ac sodales lectus placerat quis. </p>
    </div>
    <br><br>
    <div class="security">Security</div>
    <br>
    <div>
        <p class="text">Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a, gravida arcu. Nam
            fringilla molestie velit, eget pellentesque risus scelerisque.</p>
    </div>
    <br><br>
    <div class="cookies">Cookies</div>
    <br>
    <div class="text">
        <li>Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin.</li>
        <li>Nam fringilla molestie velit, eget pellentesque risus scelerisque a</li>
    </div>
    <br><br><br>
  </div>
</div>
