@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";
@font-face {
  font-family: mediumFont;
  src: url(../../../assets/font-family/DMSans-Medium.ttf);
}
@font-face {
  font-family: boldFont;
  src: url(../../../assets/font-family/DMSans-Bold.ttf);
}
*:focus {
  outline: none;
  box-shadow: none;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: min-content;
  justify-content:space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px
}
.login-title{
  @include heading1;
  color: $black;
  font-family: boldFont;
  margin-bottom: 20px;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.login-tabs{
  margin-bottom: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $lightGray;
  border-radius:5px;
  .tab{
    @include heading3;
    color: $black;
    background-color: $lightGray;
    border-radius: 5px;
    width:49%;
    height: 50px;
  }
  .tabFocus{
    background-color: $white;
    box-shadow: 2px 2px $darkGray;
  }
}

.sign-in,
.register{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include heading5;
  color: $darkGray;
}
input {
  margin-bottom: 20px;
  outline: none;
  border:none;
  border-bottom: 1px solid $gray;
}

.input-title{ 
  @include heading5;
  color: $darkGray;
}
input[type="checkbox"] {
  accent-color: $white;
  margin-right: 5px;
  border: 1px solid $darkGray
}
.body-small{
  @include body-small;
  color: $darkGray
}

.dark-btn{
  background-color:$black;
  color:$white
 }
.dark-btn:hover{
   background-color:$white;
   color:$black;
   border: 1px solid $gray
}
.reminder{
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}
.error{
  @include body-small;
  color: $errors;
  margin-bottom: 5px;
}
